<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title -->
    <title>
        Olinvite
    </title>
    <!-- Style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/storage/themes/theme1/css/vendor.css" />
    <link rel="stylesheet" href="/storage/themes/theme1/css/style.css" />
</head>

<body class="no-scroll" id="app">
    <!-- Main -->
    <div id="root">
        <!-- Cover -->
        <section class="cover" id="cover">
            <div class="cover-content">
                <h2 class="font-fabulous text-uppercase">The Wedding Of</h2>
                <div class="couple-title">
                    <div class="font-grethania couple-name">
                        <span>{{ invitation?.wedding_data?.groom_nickname }}</span>
                        <span>&</span>
                        <span>{{ invitation?.wedding_data?.bride_nickname }}</span>
                    </div>
                    <div class="text-fabulous event-date">Selasa, 20 April 2023</div>
                    <div class="text-montserrat mt-3">
                        <strong class="text-theme"><i class="fa fa-envelope-open me-2"></i>Kepada :</strong>
                        <h5 class="text-white mt-2 text-capitalize">{{ guest?.name }}</h5>
                    </div>
                    <button class="btn bg-theme font-montserrat font-wight-bold mt-3" @click="openCover">
                        Buka Undangan
                    </button>
                </div>
            </div>
        </section>

        <!-- Navigation -->
        <nav class="navigation" id="navigation">
            <a href="#hero" class="navigation-item active">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </a>
            <a href="#couple" class="navigation-item">
                <i class="fa fa-heart"></i>
                <span>Couples</span>
            </a>
            <a v-if="features.story_feature" href="#story" class="navigation-item">
                <i class="fa fa-comment-dots"></i>
                <span>Story</span>
            </a>
            <a v-if="features.akad_feature || features.reception_feature" href="#event" class="navigation-item">
                <i class="fa fa-calendar-alt"></i>
                <span>Agenda</span>
            </a>
            <a v-if="features.gallery_feature" href="#gallery" class="navigation-item">
                <i class="fa fa-image"></i>
                <span>Gallery</span>
            </a>
            <a v-if="features.rsvp_feature" href="#rsvp" class="navigation-item">
                <i class="fa fa-list"></i>
                <span>RSVP</span>
            </a>
            <a v-if="features.gift_feature" href="#gift" class="navigation-item">
                <i class="fa fa-gift"></i>
                <span>Gift</span>
            </a>
        </nav>

        <!-- Music Trigger -->
        <div v-if="features.music_feature || features.custom_music_feature" @click="music.trigger"
            class="music-trigger">
            <i class="fa fa-compact-disc" :class="{'fa-spin': music.playing.value}"></i>
        </div>

        <!-- QR Trigger -->
        <div class="qrcode-trigger" @click="qrcode.open">
            <i class="fa fa-qrcode"></i>
        </div>

        <!-- Hero -->
        <section class="segment hero" id="hero">
            <h2 class="font-fabulous text-uppercase">The Wedding Of</h2>
            <div class="couple-title">
                <div class="font-grethania couple-name">
                    <span>{{ invitation?.wedding_data?.groom_nickname }}</span>
                    <span>&</span>
                    <span>{{ invitation?.wedding_data?.bride_nickname }}</span>
                </div>
                <div class="font-fabulous event-date">Selasa, 20 April 2023</div>
            </div>
            <div id="main-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div v-for="(img, index) in custom_field?.main_slider" class="carousel-item"
                        :class="{active: index == 0}">
                        <figure>
                            <img :src="img" alt="slideshow" />
                        </figure>
                    </div>
                </div>
            </div>
        </section>

        <!-- Couple -->
        <section class="segment couple" id="couple">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <!-- Opening Text -->
                        <p class="font-montserrat text-center text-white mt-5 px-2" data-aos="fade-up">
                            <strong>Assalamualaikum wr. wb</strong>
                            <br /><br />
                            Tuhan telah menciptakan mahluk-Nya secara berpasang-pasangan.
                            Perkenankanlah kami merangkai kasih sayang yang Tuhan ciptakan
                            di antara kami :
                        </p>
                        <!-- Grooms -->
                        <div class="text-center mt-5" data-aos="fade-up">
                            <figure>
                                <img :src="invitation?.wedding_data?.groom_photo" alt="groom" />
                            </figure>
                            <h5 class="font-montserrat text-white">{{ invitation?.wedding_data?.groom_name }}</h5>
                            <p class="text-theme mb-2">
                                <i class="fa fa-map-marker-alt me-1"></i>
                                {{ invitation?.wedding_data?.groom_birthplace }},
                                {{ utils.dateFormat(invitation?.wedding_data?.groom_birthday, 'DD MMMM YYYY') }}
                            </p>
                            <p class="text-white font-montserrat">
                                Putra pertama Bapak {{ invitation?.wedding_data?.groom_father }} dan Ibu
                                {{ invitation?.wedding_data?.groom_mother }}
                            </p>
                            <div class="sosmed">
                                <a href="" class="text-secondary px-1">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="" class="text-secondary px-1">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="" class="text-secondary px-1">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Brides -->
                        <div class="text-center mt-5" data-aos="fade-up">
                            <figure>
                                <img :src="invitation?.wedding_data?.bride_photo" alt="bride" />
                            </figure>
                            <h5 class="font-montserrat text-white">{{ invitation?.wedding_data?.bride_name }}</h5>
                            <p class="text-theme mb-2">
                                <i class="fa fa-map-marker-alt me-1"></i>
                                {{ invitation?.wedding_data?.bride_birthplace }},
                                {{ utils.dateFormat(invitation?.wedding_data?.bride_birthday, 'DD MMMM YYYY') }}
                            </p>
                            <p class="text-white font-montserrat">
                                Putra pertama Bapak {{ invitation?.wedding_data?.bride_father }} dan Ibu {{
                                invitation?.wedding_data?.bride_mother }}
                            </p>
                            <div class="sosmed">
                                <a href="" class="text-secondary px-1">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="" class="text-secondary px-1">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="" class="text-secondary px-1">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Countdown -->
        <section class="segment countdown" id="countdown">
            <h2 class="text-white font-grethania text-center" data-aos="fade-up">
                Menuju Hari Bahagia
            </h2>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="countdown-widget">
                            <div class="counter">
                                <span>{{ countdown?.day }}</span>
                                <span class="ms-2 font-darling">Hari</span>
                            </div>
                            <div class="counter">
                                <span>{{ countdown?.hour }}</span>
                                <span class="ms-2 font-darling">Jam</span>
                            </div>
                            <div class="counter">
                                <span>{{ countdown?.minute }}</span>
                                <span class="ms-2 font-darling">Menit</span>
                            </div>
                            <div class="counter">
                                <span>{{ countdown?.second }}</span>
                                <span class="ms-2 font-darling">Detik</span>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <a href="" target="_blank" class="btn bg-theme">
                                <i class="fa fa-calendar-alt me-1"></i>
                                Simpan Tanggal
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Love Story -->
        <section v-if="features.story_feature" class="segment story" id="story">
            <h2 class="font-grethania text-white text-center" data-aos="fade-up">
                Our Love Story
            </h2>
            <div id="story-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-aos="flip-right">
                <div class="carousel-inner">
                    <div v-for="(str, index) in stories" class="carousel-item" :class="{active: index == 0}">
                        <figure>
                            <img :src="str.picture_path" alt="slideshow" />
                        </figure>
                        <div class="text-white text-center px-2">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-8">
                                        <h5 class="font-fabulous m-0">{{ str.title }}</h5>
                                        <span class="d-inline-block my-2 text-theme">
                                            ~ {{ utils.dateFormat(str.story_date) }} ~
                                        </span>
                                        <p class="font-montserrat m-0">{{ str.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Quotes -->
        <section v-if="features.quotes_feature" class="quotes" id="quotes">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <!-- Quotes -->
                        <p class="font-montserrat text-white text-center" data-aos="fade-up">
                            {{ invitation?.wedding_data?.quotes }}
                            <br />
                            <span class="text-theme">- {{ invitation?.wedding_data?.quotes_by }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Event -->
        <section class="segment event" id="event">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <!-- Akad -->
                    <div v-if="features.akad_feature" class="col-md-8">
                        <h2 class="font-grethania text-center text-white" data-aos="fade-up">
                            Akad
                        </h2>
                        <div class="card mb-4" data-aos="flip-right">
                            <div class="card-body font-montserrat text-center py-5">
                                <h5>Tanggal :</h5>
                                <p>
                                    {{ utils.dateFormat(invitation?.wedding_data?.akad_date, 'dddd, LL') }}
                                </p>
                                <h5>Jam :</h5>
                                <p>
                                    {{ utils.timeFormat(invitation?.wedding_data?.akad_start) }} WIB -
                                    {{ utils.timeFormat(invitation?.wedding_data?.akad_end) }} WIB
                                </p>
                                <h5>Tempat :</h5>
                                <p>{{ invitation?.wedding_data?.akad_place }}</p>
                                <a href="" target="_blank" class="btn bg-theme text-dark mt-3">
                                    <i class="fa fa-calendar-alt me-1"></i>
                                    Save The Date
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Resepsi -->
                    <div v-if="features.reception_feature" class="col-md-8">
                        <h2 class="font-grethania text-center text-white" data-aos="fade-up">
                            Resepsi
                        </h2>
                        <div class="card mb-4" data-aos="flip-right">
                            <div class="card-body font-montserrat text-center py-5">
                                <h5>Tanggal :</h5>
                                <p>
                                    {{ utils.dateFormat(invitation?.wedding_data?.reception_date, 'dddd, LL') }}
                                </p>
                                <h5>Jam :</h5>
                                <p>
                                    {{ utils.timeFormat(invitation?.wedding_data?.reception_start) }} WIB -
                                    {{ utils.timeFormat(invitation?.wedding_data?.reception_end) }} WIB
                                </p>
                                <h5>Tempat :</h5>
                                <p>{{ invitation?.wedding_data?.reception_place }}</p>
                                <a href="" target="_blank" class="btn bg-theme text-dark mt-3">
                                    <i class="fa fa-calendar-alt me-1"></i>
                                    Save The Date
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Gallery -->
        <section v-if="features.gallery_feature" class="segment gallery" id="gallery">
            <h2 class="text-white font-grethania text-center" data-aos="fade-up">
                Gallery
            </h2>
            <div class="container">
                <ul class="row" id="gallery-box">
                    <li v-for="glr in galleries" class="figure col-md-4 col-6">
                        <figure data-aos="fade-up">
                            <img :src="glr.path" alt="gallery" loading="lazy" />
                        </figure>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Video -->
        <section v-if="features.video_feature" class="segment video" id="video">
            <h2 class="text-white font-grethania text-center" data-aos="fade-up">
                Our Video
            </h2>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <iframe src="https://www.youtube.com/embed/y4bSFu5DySE" frameborder="0"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

        <!-- RSVP -->
        <section class="segment rsvp" id="rsvp">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <!-- RSVP -->
                    <div v-if="features.rsvp_feature" class="col-md-8">
                        <h2 data-aos="fade-up" class="font-grethania text-white">Konfirmasi Kehadiran</h2>
                        <div class="confirmation-card card py-3" data-aos="fade-up">
                            <div class="card-body">
                                <form method="post" @submit.prevent="rsvp.save">
                                    <!-- Name -->
                                    <div class="form-group mb-3">
                                        <label for="guest_name"><strong>Tamu</strong></label>
                                        <input :value="guest?.name" type="text" class="form-control text-capitalize"
                                            disabled>
                                    </div>
                                    <!-- Confirmation -->
                                    <div class="form-group mb-3">
                                        <label for="confirmation"><strong>Konfirmasi</strong></label>
                                        <select v-model="rsvp.form.confirmation" @change="rsvp.resetPerson"
                                            name="confirmation" id="confirmation" class="form-select mt-2"
                                            :class='{"is-invalid": rsvp.error.confirmation}'>
                                            <option value="">Pilih Kehadiran</option>
                                            <option value="hadir">Hadir</option>
                                            <option value="ragu">Ragu-Ragu</option>
                                            <option value="tidak">Tidak Hadir</option>
                                        </select>
                                        <span class="invalid-feedback">{{ rsvp.error.confirmation }}</span>
                                    </div>
                                    <!-- Jumlah Tamu -->
                                    <div v-show="rsvp.form?.confirmation == 'hadir'" class="form-group mb-3">
                                        <label for="person"><strong>Jumlah Tamu</strong></label>
                                        <input v-model="rsvp.form.person" type="text" data-mask="integer"
                                            class="form-control mt-2" :class='{"is-invalid": rsvp.error.person}'>
                                        <span class="invalid-feedback">{{ rsvp.error.person }}</span>
                                    </div>
                                    <!-- Submit Button -->
                                    <div class="form-group mt-3 text-center">
                                        <button :disabled="guest.rsvp" type=" submit" class="btn bg-theme">
                                            <i class="far fa-save me-2"></i>
                                            Konfirmasi
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- WISH -->
                    <div v-if="features.wish_feature" class="col-md-8">
                        <div class="wish-card card pb-3 mt-4" data-aos="fade-up">
                            <div class="card-header bg-white">
                                <h5 class="card-title">
                                    <i class="fa fa-comment-dots me-1 text-theme"></i>
                                    Kolom Ucapan
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="wish-chat">
                                    <div v-for="wish in wishes" class="wish-chat-item">
                                        <div class="wish-chat-item-content">
                                            <strong>
                                                <i class="fa fa-user-circle me-1"></i>
                                                <span>{{ wish.name }}</span>
                                                <small class="float-end">
                                                    <i class="fa fa-clock me-1"></i>
                                                    {{ utils.dateFormat(wish.created_at, 'DD-MM-YYYY HH:mm') }}
                                                </small>
                                            </strong>
                                            <p class="mt-2">{{ wish.wish_text }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Form -->
                                <form method="post" class="wish-form" @submit.prevent="wish.save">
                                    <textarea v-model="wish.form.wish_text" name="wish" class="form-control" rows="1"
                                        required placeholder="Ketikan sesuatu..."
                                        :class='{"is-invalid": wish.error.wish_text}'></textarea>
                                    <span class="invalid-feedback">{{ wish.error.wish_text }}</span>
                                    <button type="submit" :disabled="wish.isProcess == true" class="btn bg-theme">
                                        <i v-if="wish.isProcess == true" class="fa fa-spinner fa-spin"></i>
                                        <i v-else class="fa fa-paper-plane"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Gift -->
        <section v-if="features.gift_feature" class="segment gift" id="gift">
            <h2 class="font-grethania text-white text-center" data-aos="fade-up">
                Kirim Gift
            </h2>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div v-for="gft in gifts" class="gift-card">
                            <img :src="gft.bank_channel.logo" alt="gift-channel">
                            <div class="gift-content">
                                <strong>{{ gft.name }}</strong>
                                <span>{{ gft.number }}</span>
                            </div>
                            <button class="btn btn-light" @click="utils.copyText(gft.number)">
                                <i class="fa fa-copy text-secondary"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer" id="footer">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <p class="fw-bold mb-3">Powered By</p>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Service_mark.svg/2560px-Service_mark.svg.png"
                            alt="footer-logo" class="footer-logo" />
                        <small class="font-montserrat d-block mt-3">Your web invitation solution</small>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- QRcode Modal -->
    <div class="modal fade" id="qrcode-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title">QR Code Tamu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div id="qrcode"></div>
                                <div class="text-center mt-4">
                                    <h5>
                                        <strong class="me-2">Tamu :</strong>
                                        <span id="qrcode-name"></span>
                                    </h5>
                                    <span class="text-primary">
                                        <i class="fa fa-info-circle me-2"></i>
                                        Tunjukan QR code saat datang ke acara
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-top-0"></div>
            </div>
        </div>
    </div>

    <!-- Script JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/storage/themes/theme1/js/vendor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>
    <script src="/storage/themes/theme1/js/utils.js"></script>
    <script src="/storage/themes/theme1/js/app.js"></script>
</body>

</html>
